{% extends "layout.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <p class="card-text">Aantal gewonnen games: {{ number_of_games_won }}</p>
            <p class="card-text">Top 5 spelers met de meeste wins</p>
            <ul>
                {% for win in top_five_wins %}
                    <li>{{ win.player.username }}</li>
                {% endfor %}
            </ul>

            <p class="card-text">Top 5 spelers met de meeste wins</p>
            <ul>
                {% for game, win in top_five_fastest_wins %}
                    <li>{{game.player.username,  win }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}