{% extends "layout.html" %}
{% block title %}New Game{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="POST" action="{{ url_for('new') }}">
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input required name="username" type="text" class="form-control" id="inputUsername">
                </div>

                <div class="form-group">
                    <label for="inputPositions">Positions</label>
                    <select required name="positions" id="inputPositions" class="form-control">
                        {% for i in range(4,11) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputColors">Colors</label>
                    <select required name="colors" id="inputColors" class="form-control">
                        {% for i in range(6,11) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" name="double_colors" type="checkbox" id="inputDoubleColors">
                        <label class="form-check-label" for="inputDoubleColors">
                            Double Colors
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Create Game</button>
            </form>
        </div>
    </div>
{% endblock %}