{% extends "layout.html" %}
{% block title %}Game {{ game.id }}{% endblock %}
{% block content %}

    <h4>Player: {{ game.player.username }}</h4>
    {% if current_turn < 10 %}
        <h4>Turn: {{ current_turn + 1 }}</h4>
    {% endif %}
    <h4>State: {{ 'Playing' if game.winner == None else ('Won' if game.winner else 'Lost') }}</h4>
    <br/>
    <table class="table table-bordered table-sm table-fit">
        <tr>
            <th>Turn</th>
            {% for position in range(0,game.positions) %}
                <th>Pos {{ position + 1 }}</th>
            {% endfor %}
            <th></th>
            <th>Hint</th>
        </tr>
        {% for turn in range(0,10 if game.winner == None else current_turn) %}
            <tr>
                <form method="post">
                    <td>{{ turn + 1 }}</td>
                    {% for position in range(0,game.positions) %}
                        <td>
                            {% if current_turn == turn %}
                                <select style="color:{{ game_pins[0].color }}" required name="pins[{{ position }}]" onchange="colorChanged(this)">
                                    {% for index, pin in enumerate(game_pins) %}
                                        <option {{ 'selected' if index == 0 else '' }} data-color="{{ pin.color }}" value="{{ pin.id }}"style="color:{{ pin.color }};">&#11044;</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                {% if turn in placed_pins %}
                                    <span class="mm-pin" style="color:{{ placed_pins[turn][position].pin.color }};">&#11044;</span>
                                {% else %}
                                    <span class="mm-pin" style="color:transparent">&#11044;</span>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        {% if current_turn == turn %}
                            <button type="submit">Check</button>
                        {% endif %}
                    </td>
                    <td>
                        {% if turn < current_turn %}
                            {% for turn_stat in turn_stats[turn] %}
                                <span class="mm-pin" style="color:{{ turn_stat }};">&#11044;</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                </form>
            </tr>
        {% endfor %}
        {% if game.winner != None or cheat_mode %}
            <tr>
                <td>Code</td>
                {% for pin in code_pins %}
                    <td>
                        <span class="mm-pin" style="color:{{ pin.color }};">&#11044;</span>
                    </td>
                {% endfor %}
                <td></td>
                <td></td>
            </tr>
        {% endif %}
    </table>

{% endblock %}

{% block js %}
    <script>
        function colorChanged(select) {
            select.style.color = select.options[select.selectedIndex].dataset.color;
        }
    </script>
{% endblock %}